# ABOUT:  This is the configuration file for predicting gene from genome sequences using DeNOGAP
# AUTHOR: Shalabh Thakur
# VERSION: 1.0
# Any thing that start with #  and between () will be ignored by the program.

[ACTIVATE_ANALYSIS]
-PREDICT_ANNOTATION:YES

[OUTPUT_DIRECTORY]
-PROJECT_DIR_NAME: INTERPRO_ANNOTATION

[PARAMETER]
-PARALLEL_CPU_CORE: 1

[INTERPROSCAN_PARAMETERS]

# NOTE: The parameter (-i) for input file and (-o) for output file and (-f) output format are automatically defined by the pipeline, So do not specify them here.
-INTERPRO_SCAN_PATH: /home/dsglab/Documents/SOFTWARE_INSTALL_NOTES/InterProScan/InterProScan5/interproscan-5.7-48.0
-INTERPRO_SCAN_OPTS: "-appl PfamA -appl SignalP-GRAM_NEGATIVE -appl Phobius -appl TMHMM -goterms -pa"
