# ABOUT:  This is the configuration file for predicting gene from genome sequences using DeNOGAP
# AUTHOR: Shalabh Thakur
# VERSION: 1.0
# Any thing that start with #  and between () will be ignored by the program.

[ACTIVATE_ANALYSIS]
-CORE_GENOME:YES

[GROUP]
-ORTHOLOG_CLUSTER_FILE: /media/LARGE_STORAGE/DenovoGenomicsPipeline/output/HOMOLOG_SCAN/RESULT/ortholog_cluster.txt

[ORTHOLOG_DB]
-ORTHOLOG_DATABASE_FILE: /home/dsglab/Documents/RunAnalysis/MicrobialGenomeAnalysisToolkit/Benchmarking_Dataset/Benchmark_Ortholog/OrthologDB_324414562015

[OUTPUT_DIRECTORY]
-PROJECT_DIR_NAME: CORE_GENOME

[PARAMETERS]
-CORE_ALIGNMENT_FILE: core_genome_alignment.fasta
-CORE_THRESHOLD: 90
-SEQUENCE_TYPE: protein
-INCLUDE_OUTGROUP: NO













