# ABOUT:  This is the configuration file for verifying predicted genes from genome sequences using DeNOGAP and SwissPort database
# AUTHOR: Shalabh Thakur
# VERSION: 1.0
# Any thing that start with #  and between () will be ignored by the program.

[ACTIVATE_ANALYSIS]
-VERIFY_SEQUENCE:YES

[INPUT]
-BLAST_ALIGNMENT_FILE: test_alignment.blas
-GENOME_DIR: ../data/test1/GENOME
-FEATURE_DIR: ../output/GENE_PREDICTION/GENOMIC_FEATURE
-CDS_DIR: ../output/GENE_PREDICTION/CDS_SEQUENCE
-PROTEIN_DIR: ../output/GENE_PREDICTION/PROTEIN_SEQUENCE

[OUTPUT_DIRECTORY]
-PROJECT_DIR_NAME: SEQUENCE_VERIFICATION
-VERIFY_CDS: CDS_SEQUENCE
-VERIFY_PROTEIN: PROTEIN_SEQUENCE
-VERIFY_FEATURE: GENOMIC_FEATURE
-VERIFY_GENBANK: GENBANK_FILE
-VERIFY_GFF: GFF_FILES

[FILTER_PARAMETERS]
-EVALUE_THRESHOLD: 1e-05
-ALIGNMENT_IDENTITY: 70
-QUERY_COVERAGE: 70
-MIN_PROTEIN_LENGTH: 30
