# ABOUT:  This is the configuration file for loading sequence and genomic feature data in DeNOGAP database
# AUTHOR: Shalabh Thakur
# VERSION: 1.0
# Any thing that start with #  and between () will be ignored by the program.

[ACTIVATE_ANALYSIS]
-LOAD_DATA:YES

[INPUT_DIRECTORY]
-PROTEIN_DIR: ../output/GENEBANK_DATA/PROTEIN_FILES
-NUCLEOTIDE_DIR: ../output/GENEBANK_DATA/CDS_FILES_FILES
-FEATURE_DIR: ../output/GENEBANK_DATA/GENOMIC_FEATURE_FILES

[PARAMETER]
-ADJUST_HEADER: YES

