# ABOUT:  This is the configuration file for parsing genbank files using DeNOGAP
# AUTHOR: Shalabh Thakur
# VERSION: 1.0
# Any thing that start with #  and between () will be ignored by the program.

[ACTIVATE_ANALYSIS]
-PARSE_GENBANK:YES

[INPUT_DIRECTORY]
-GENBANK_DIR_PATH:../data/test1/GBK

[OUTPUT_DIRECTORY]
-PROJECT_DIR_NAME: GENEBANK_DATA
-GENOME_DIR_NAME: GENOME_FILES
-CDS_DIR_NAME: CDS_FILES
-PROTEIN_DIR_NAME: PROTEIN_FILES
-FEATURE_DIR_NAME: GENOMIC_FEATURE_FILES
-GFF_DIR_NAME: GFF_FILES
