# ABOUT:  This is the configuration file for predicting gene from genome sequences using DeNOGAP
# AUTHOR: Shalabh Thakur
# VERSION: 1.0
# Any thing that start with #  and between () will be ignored by the program.

[ACTIVATE_ANALYSIS]
-PREDICT_ORTHOLOG:YES
-CLUSTER_ORTHOLOG:YES

[GROUP]
-HMM_CLUSTER_FILE: ../output/HOMOLOG_SCAN/RESULT/model_cluster.txt
-HOMOLOG_CLUSTER_FILE: ../output/HOMOLOG_SCAN/RESULT/homolog_cluster.txt

[ORTHOLOG_DB]
#-OLD_ORTHOLOG_DATABASE_FILE: ../output/OrthologDB

[OUTPUT_DIRECTORY]
-PROJECT_DIR_NAME: HOMOLOG_SCAN

[PARAMETERS]
-ORTHOLOG_DIVERGENCE_THRESHOLD: 0.9
-INPARALOG_DIVERGENCE_THRESHOLD: 0.5
-GLOBAL_ALIGNMENT_OVERLAP_THRESHOLD: 0.5
-PAIRWISE_SEQUENCE_IDENTITY_THRESHOLD: 70
-PAIRWISE_SEQUENCE_SIMILARITY_THRESHOLD: 80
-MCL_INFLATION_VALUE: 1.5
-PARALLEL_CPU_CORE: 3
