# ABOUT:  This is the configuration file for predicting gene from genome sequences using DeNOGAP
# AUTHOR: Shalabh Thakur
# VERSION: 1.0
# Any thing that start with #  and between () will be ignored by the program.

[ACTIVATE_ANALYSIS]
-PREDICT_GENE:YES

[INPUT_DIRECTORY]
-GENOME_DIR_PATH: ../data/test1/GENOME

[OUTPUT_DIRECTORY]
-PROJECT_DIR_NAME: GENE_PREDICTION
-GLIMMER_RESULT_DIR_NAME: GLIMMER_OUT
-GENEMARK_RESULT_DIR_NAME: GENEMARK_OUT
-PRODIGAL_RESULT_DIR_NAME: PRODIGAL_OUT
-FRAGSCAN_RESULT_DIR_NAME: FRAGSCAN_OUT
-PREDICTED_ORF_DIR_NAME: PREDICTED_ORF
-CDS_DIR_NAME: CDS_SEQUENCE
-PROTEIN_DIR_NAME: PROTEIN_SEQUENCE
-FEATURE_DIR_NAME: GENOMIC_FEATURE
-GFF_DIR_NAME: GFF_FILES
-GENEBANK_DIR_NAME: GENEBANK_FILES

[PARAMETERS]
-TRANSLATION_CODE:11
-OVERLAP_BASE: 50
-PARALLEL_CPU_CORE: 2

[ANNOTATION]
-ADD_ANNOTATION:YES
-ANNOTATION_DATABASE:UniProt
-EVALUE_THRESHOLD:1e-5

###### OPTIONS FOR PREDICTING GENE USING GLIMMER ######
[GLIMMER_OPTIONS]

-GLIMMER3: "-o 0 -g 100 -t 30 -A atg,ttg,gtg -z 11"

-LONG_ORF: "-n -t 1.15 -z 11 --min_len 100" 

-MULTI_EXTRACT: "--minlen 100"

-BUILD_ICM: "-r"

###### OPTIONS FOR PREDICTING GENE USING GENEMARK ######
[GENEMARK_OPTIONS]

-GMSN: "--combine --gm --prok --fnn --faa --clean --format GFF"

###### OPTIONS FOR PREDICTING GENE USING PRODIGAL #######
[PRODIGAL_OPTIONS]

-PRODIGAL: "-g 11 -f gff -c -m"

###### OPTIONS FOR PREDICTING GENE USING FRAGSCAN #######
[FRAGSCAN_OPTIONS]

-FRAGSCAN: "-complete 1 -train complete"







